#title{
  background-color: #ff4c68;
  position: relative;

}
body{
  font-family:"Montserrat";
}

.container-fluid{
  padding:3% 15%;

}
a{
  cursor: pointer;
}

h1{
   font-family: "Montserrat";
   font-size:3.5rem;
   line-height: 1.5;
   font-weight: 900;
   color:#fff;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size:3rem;
  line-height: 1.2;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

h5{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
}

.hj{
  position: relative;
  right:3px;
}


/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem
}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: "Montserrat-Light";
  font-size:1.2rem;
}

/* Title Section */
/* .front {
  margin-top:30px;
} */

/* Download Buttons */

.down{
  margin: 5% 3% 5% 0;
}

/* Title Image */

.titleimg{
  width:60%;
  position: relative;
  left: 30%;
  transform: rotate(25deg);
}

/* Features Section */
#features{
  background-color: #fff;
  padding: 7% 15%;
}

.fig{
  width:60%;
}

.feature-box{
  text-align: center;
  padding:4.5%;
}

.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.testimg{
  border-radius:100%;
  width: 10%;
  margin-right: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Press Section */
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-img{
  width:15%;
  margin: 20px 20px 50px;
}

/* Cuisines Section */
#pricing{
  text-align: center;
  padding: 7% 15%;
}

.margin2{
  padding-bottom: 38px;
}

.pricing-col{
  padding: 3% ;
}

.card-img{
  width:100%;
  padding-bottom: 5px;
}

/* call-to-action section */

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 1% 10%;
  color: #fff;
  border: solid 1px black;
}

.cta-heading{
  font-size:3.5rem;
  line-height: 1.5;
  font-family: "Montserrat"

}
/* Footer */
#footer{
  background-color: #fff;
  font-family: "Montserrat"
  font-size:2rem;
  line-height: 1.5;
  text-align: center;

}

.socialmedia{
  margin:20px 10px;
}

@media (max-width:1028px) {
  .titleimg{
    transform: rotate(0);
    position: static;
  }

  #title{
    text-align: center;
  }

}
